body {
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
}

.header-content {
    display: none !important;
}

.video-container {
    width: 180% !important;
    margin: 0 auto !important; 
    left: 10%;
}


.video-container article {
    font-size: 1.5rem !important;
}

.video-container article h2 {
    padding: 0 !important;
    font-size: 3rem !important;
}

.table-container article h2 {
    font-size: 2.5rem !important;
}

.table-container article h3 {
    font-size: 1.8rem !important;
}


video {
    display: none !important;
}

.carousel-container {
    display: inline !important;
    top: 10% !important;
    width: 80% !important;
    margin: 0 auto !important;
    font-size: 1.5rem !important; 
}

.carousel-view {
    display: inline !important;
    gap: 0 !important;
    padding: 0 !important;
}

.carousel-view .item-list {
    display: inline !important;
    gap: 0 !important;
    padding: 0 !important;
}

.carousel-container figcaption {
    text-align: center !important;
    font-size: 1rem !important;
}


.carousel-container img {
    width: 20vh !important; 
    height: 20vh !important; 
}

.carousel-container .prev-btn {
    display: none;
}

.carousel-container .next-btn {
    display: none;
}


.table-container {
    left: 10% !important;
    width: 80% !important;
    font-size: 1rem !important; 
}

.table-container details {
    display: none;
}

.video-container a {
    display: none;
}

.table-container table th {
    font-size: 1rem !important; 
}

.table-container table td {
    font-size: 1rem !important; 
}

a:link {
    color: black !important;
}

a:visited {
    color: black !important;
}


.form-container {
    top: 0% !important;
    left: 10% !important;
    width: 80% !important;
    font-size: 1rem !important; 
}

.form-container input {
    max-width: 90%;
}

.form-container textarea {
    max-width: 90%;
}

footer {
    display: none;
}

.table-container {
    top: 10% !important;
}