
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.png');
    background-size: 100%;
    background-color: #f5edd8;
    font-family: Arial, sans-serif !important;; 
}

.hidden {
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 1450px) {
    body {
        background-image: none;
    }
}

nav :visited {
    color: black !important;
}

nav :link {
    color: black !important;
}

.container {
    padding: 0;
    margin: 0;
}

/* header */
h1 {
    padding: 0 !important;
    margin: 0!important; 
    top: 0; 
    text-align: center;
    font-size: 2rem;
}

.header-content button {
    position: absolute;
    width: 2rem;
}

.header-content button img {
    width: 2rem;
}

.header-content ul {
    list-style-type: none;
    padding-left: 0;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-content img {
    width: 100%;
}

.header-content li {
    margin-bottom: 1px; 
}

.header-content a {
    display: block; 
    padding: 5px 0px; 
    background-color: #f9c9692c; 
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px; 
    text-align: center;
    color: #191919;
}

.header-content a.current {
    background-color: #ffb62360; 
}

.header-content a:hover {
    background-color: #ffb62360; 
}

/* footer */

footer {
    position:fixed;
    bottom: 0;
    right: 1%;
    height: 6%;
    padding-left: 10px;
    background-color: #f5edd8;
}

@media screen and (max-width: 1450px) {
    footer {
        left: 1%;
        background-color: #f5edd8;
    }
}

.footer-content {
    padding-right: 10px; 
    text-align: left; 
    font-size: 0.7rem;
    color: #191919;
}


/* kezdőlap */

.video-container {
    position: absolute;
    left: 25%;
    width: 65%;
    padding-bottom: 3rem;
}

@media screen and (max-width: 576px) {
    .video-container {
        left: 20%;
    }
}

.video-container article {
    width: 100%; 
    vertical-align: top; 
    padding: 20px; 
    font-size: 1rem;
    text-align: justify;
}

h3 {
    font-size: 1.5rem;
}


video {
    width: 100%; 
    padding: 0;
}

.video video {
    width: 100%; 
}

/* látványosságok */

button{
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    transition: all .3s ease-in-out;
}

.carousel-container {
  width: 50%;
  height: 45vh;
  display: flex;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 576px) {
    .carousel-container {
        height: 30vh;
        margin-left: 25%;
        margin-top: 20%;
      }
      
}

.carousel-container figure {
    display: inline-block;
}

.carousel-container figcaption {
    text-align: center;
}

.carousel-container img {
    height: 40vh;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  max-width: 950px;
  width: 70vw;
  padding: 50px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  scrollbar-width: none; 
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.prev-btn {
  background: none;
  cursor: pointer;
}

/* programok */

.table-container {
    position: absolute;
    left: 25%;
    width: 65%;
    padding-bottom: 3rem;
}

  @media screen and (max-width: 576px) {
    .table-container {
        left: 20%;
        padding-bottom: 5rem;
        padding-top: 1.5rem;
      }
      
}

a:link {
    color:#1000EB;
}

a:visited {
    color:#080075;
}

.table {
    padding: 30px;
}

.table-container th {
    width: 1%; 
    vertical-align: top; 
    padding: 0px; 
    font-size: 1rem;
    text-align: center;
}

.table-container caption {
    font-size: 1rem;
    color: black; 
}

.row-title {
    vertical-align: center; 
    padding: 5px 5px; 
    font-size: 1rem;
    text-align: left;
    border: 1px solid black;
}

.row-desc {
    vertical-align: center; 
    padding: 5px 5px; 
    font-size: 1rem;
    text-align: justify;
    border: 1px solid black;
}

/* jelentkezz */
.form-container {
    position: absolute;
    left: 25%;
    width: 65%;
    padding-bottom: 3rem;
}


  @media screen and (max-width: 576px) {
    .form-container {
        left: 20%;
        padding-bottom: 5rem;
        padding-top: 1.5rem;
      }


    .form-container input {
        max-width: 80%;
    }

    .form-container textarea {
        max-width: 80%;
    }
      
}

.form-container fieldset {
    padding-top: 1rem;
}

/* high contrast */

.body_high-contrast {
    font-size: 1.2rem; 
    color: white; 
    background-color: black; 
    background-image: none;
}

.body_high-contrast footer {
    left: 1%;
    padding-left: 0;
}

.body_high-contrast h1 {
    font-size: 6rem !important;
}

.body_high-contrast .video-container .video-desc {
    font-size: 1.2rem;
}

@media screen and (max-width: 576px) {
    .body_high-contrast .table-container {
        padding-top: 6rem;
        top: 100%;
      }
      
}


.body_high-contrast h2 {
    font-size: 3rem !important;
}

.body_high-contrast h3 {
    font-size: 2.5rem !important;
}

.body_high-contrast legend {
    font-size: 2rem !important;
}


.body_high-contrast .table-container {
    top: 65%;
}

.body_high-contrast .table-container th {
    font-size: 1.2rem;
}

.body_high-contrast .table-container td {
    font-size: 1.2rem;
}

.body_high-contrast footer .footer-content  {
    color: white;
    font-size: 0.9rem;
    background-color: black;
}

.body_high-contrast svg path {
    fill: white; 
}

.body_high-contrast .table-container {
    margin-top: -10%;
    padding-bottom: 10%;
}

.body_high-contrast .table-container caption {
    font-size: 1.2rem;
    color: white; 
}

.body_high-contrast .form-container {
    padding-bottom: 25%;
}

.body_high-contrast a:link {
    color: #E18FFF;
}

.body_high-contrast a:visited {
    color: #D666FF;
}

.body_high-contrast nav :visited {
    color: white !important;
}

.body_high-contrast :link {
    color: white !important;
}


.body_high-contrast .header-content a {
    font-size: 1.5rem;
    background-color: #3b3935f6; 
    color: white; 
}

.body_high-contrast .header-content a.current {
    background-color: #666666da; 
}

.body_high-contrast .header-content a:hover {
    background-color: #666666da; 
}

