@import "../topnav/style";

@mixin header() {
  @include centerDiv(row);
  height: 100vh;
  @include centerImg("../../public/celerybg.png");
  background-size: contain;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -1rem;
    border-bottom: 5px dotted $main;
  }


  @keyframes bgAnim {
    0% {
      left: 0;
    }

    100% {
      left: calc(100% + 2%);

    }
  }

  .hero {
    @include centerDiv(column);

    h1 {
      font-size: 4.5em;

      span {
        color: $main;
      }
    }

    h5 {
      width: 30%;
      text-align: center;

      span {
        color: $main;
      }
    }
  }

  nav {
    @include topnav()
  }
}


@mixin activeHeader() {
  &::after {
    content: "";
    position: absolute;
    width: 2%;
    height: 100%;
    background-color: transparent;
    left: 0;
    bottom: -1rem;
    border-bottom: 5px dotted white;
    animation-name: bgAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transition: all 0.4s ease-out;
  }
}