@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

$main: #8FD476;
$bg: #002233;
$accent: #4FBB85;

@mixin basics() {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
  }

  body {
    background-color: $bg;
    color: white;
    overflow-x: hidden;
  }

  @media print {
    body {
      header {
        height: auto;

        &::before {
          display: none !important;
        }

        nav {
          display: none;
        }

        background: none;
      }

      video {
        display: none;
      }

      p,
      a,
      div,
      h1,
      h5,
      ul,
      li,
      label,
      span,
      button,
      caption,
      details,
      summary,
      figure,
      svg {
        color: black !important;
        box-shadow: none !important;
        text-decoration: none !important;
        font-weight: normal !important;

        span {
          color: black !important;
        }
      }

      div {
        background-color: white !important;
        height: auto !important;
        border: none !important;
      }

      article {
        flex-direction: column !important;
        margin: 0 !important;
        border: none !important;
      }

      section,
      form,
      input,
      textarea,
      select,
      table,
      caption,
      td,
      th,
      button {
        border: none !important;
        color: black !important;
      }

      .sep {
        display: none !important;
      }

      img {
        box-shadow: none !important;
        width: 80% !important;
      }

      footer {
        display: none;
      }
    }
  }
}

@mixin centerDiv($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
  width: 100%;
}

@mixin centerImg($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}