@import "../uniform/uniform";


body {

  header {

    @include header();


  }


  #tartalom {
    @include centerDiv(column);
    padding: 10rem 0;

    .specialty {
      @include centerDiv(row);

      .text {
        @include centerDiv(column);
        justify-content: flex-start;

        h1 {
          font-size: 3.5em;
          padding-bottom: 5rem;
          text-align: center;
          width: 80%;
          text-decoration: dotted underline $main;

          span {
            color: $main;
          }
        }

        p {
          text-align: justify;
          width: 70%;
          margin: .5rem 0;
        }
      }

      .video {
        @include centerDiv(row);

        video {
          width: 70%;
          border-radius: 10px;
          box-shadow: 0 0 10px 2px rgba($main, 0.5);
          border: 1px solid white;
        }
      }
    }

    .reviewsWrapper {
      @include centerDiv(column);

      .title {
        @include centerDiv(column);

        h1 {
          font-size: 3.5em;
          padding-bottom: 5rem;
          text-align: center;
          width: 80%;
          text-decoration: dotted underline $main;

          span {
            color: $main;
          }
        }
      }

      .reviews {
        @include centerDiv(row);
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10rem;
        position: relative;

        .review,
        .active {
          @include centerDiv(column);
          justify-content: flex-end;
          width: 20rem;
          height: 25rem;
          border-radius: 10px;
          box-shadow: 0 0 10px 5px rgba($main, 0.5);
          transition: all 0.5s ease-in-out;
          cursor: pointer;

          p {
            background-color: white;
            height: 10rem;
            color: $bg;
            font-weight: bold;
            text-align: left;
            @include centerDiv(column);
            padding: 1rem;
            border-radius: 0 0 10px 10px;
            font-style: italic;
          }

          &:nth-child(1) {
            @include centerImg("../../public/card1.jpg");
          }

          &:nth-child(2) {
            @include centerImg("../../public/card2.jfif");
          }

          &:nth-child(3) {
            @include centerImg("../../public/card3.webp");
          }
        }

        .active {
          transform: scale(1.2);
          box-shadow: 0 0 10px 10px rgba($main, 0.5);
        }
      }
    }
  }

  footer {
    @include centerDiv(row);
    border-top: 5px dotted $main;
    padding: 5rem 1rem;

    aside {
      @include centerDiv(column);

      h5 {
        font-size: 2em;
        padding-bottom: 5rem;
        text-align: center;
        width: 80%;

        span {
          color: $main;
        }
      }

      ul {
        li {
          margin: 2rem 0;
          width: 100%;

          a {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            width: 100%;
            padding: .8rem;
            position: relative;
            transition: all 0.4s ease-out;
            display: block;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              transition: all 0.4s ease-out;
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              background-color: $main;
              border-radius: 10px;
              width: 0;
            }

            &:active {
              color: $bg;
              transform: scale(1.05);
            }

            &:visited {
              position: relative;
              color: $accent;

              span {
                color: $accent;
              }

              &:hover {
                color: $bg;
              }
            }

            span {
              color: $main;
            }

            &:hover {

              &::after {
                width: 100%;
              }

              span {
                color: $bg;
              }
            }
          }
        }

        li:nth-child(2) a {

          &::after {
            right: 0;
            left: auto;
            width: 0;
            background-color: $main;
          }

          &:hover {

            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    section {
      @include centerDiv(row);
      height: 100%;



      div {
        @include centerDiv(row);
        height: 15rem;
        width: 15rem;
        position: relative;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: $accent;
          z-index: -3;
          transition: all 0.3s ease-out;
        }

        &::after {
          content: "";
          position: absolute;
          width: 110%;
          height: 110%;
          left: -5%;
          top: -5%;
          background-color: $bg;
          transform: rotateZ(45deg);
          z-index: -3;
          transition: all 0.3s ease-out;
        }

        .square {
          content: "";
          position: absolute;
          width: 98%;
          height: 98%;
          left: 1%;
          top: 1%;
          background-color: $bg;
          z-index: -1;
          transition: all 0.3s ease-out;
        }

        h1 {
          text-align: center;
          transition: all 0.3s ease-out;

          span {
            transition: all 0.3s ease-out;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: -1;
              border-bottom: 3px dotted $main;
              transition: all 0.3s ease-out;
              width: 0;
            }
          }
        }

        &:hover {

          .square,
          &::before {
            transform: scale(0.75) rotateZ(90deg);
          }

          &::before {
            background-color: $main;
          }

          &::after {
            transform: scale(0.7) rotateZ(135deg);
          }

          h1 {
            color: $main;

            span {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@include basics();


@media only screen and (max-width: 880px) {
  body {
    footer {
      flex-direction: column;

      section {
        margin-top: 10rem;
      }
    }
  }
}