@import "../uniform/uniform";
@import "../uniform//header/style";
@import "../uniform/separator/style";


body {

  header {
    @include header();

    background-image: url("../../public/celerybg2.png");

    nav {
      a {
        &:nth-child(3) {
          color: $main;

          &::before {
            background-color: transparent;
          }

          &::after {
            background-color: $main;
            width: 140%;
          }
        }

        &:nth-child(1) {
          color: white;

          &::before {
            position: absolute;
            content: "";
            width: 140%;
            height: 0;
            background-color: $main;
            margin-bottom: -5px;
            bottom: 0;
            left: -20%;
            transition: all .5s;
            border-radius: 5px 5px 0 0;
          }

          &::after {
            background-color: white;
            width: 0;
          }

          &:hover {
            &::after {
              width: 140%;
            }

            &::before {
              height: calc(100% + 10px);
              z-index: -1;
            }
          }

          &:active {
            color: $main;

            &::after {
              background-color: $main;
            }
          }
        }
      }
    }

    .hero {
      h1 {
        width: 40%;
        text-align: center;
        font-size: 4em;
      }
    }
  }

  .headerActive {
    @include activeHeader();
  }

  #tartalom {
    @include centerDiv(column);
    margin-top: 15rem;
    padding-bottom: 15rem;

    form {
      @include centerDiv(column);
      width: 60%;
      border-radius: 10px;
      border: 1px solid $main;
      padding-top: 5rem;

      .title {
        @include centerDiv(row);
        margin-bottom: 10rem;

        h1 {
          font-size: 4.5em;
          text-decoration: dotted underline $main;
        }
      }

      .userData {
        @include centerDiv(column);

        .data {
          @include centerDiv(row);
          margin-bottom: 5rem;

          label {
            width: 30%;
            text-align: right;
            margin-right: 5rem;
            text-align: left;
            font-size: 1.2em;
          }

          input,
          select {
            width: 30%;
            padding: 1rem;
            border-radius: 5px;
            border: 3px solid $main;
            outline: none;
          }

          select {
            color: $main;
          }

        }
      }

      .delData {
        @include centerDiv(column);

        .data {
          @include centerDiv(row);

          label {
            width: 30%;
            text-align: right;
            margin-right: 5rem;
            text-align: left;
            font-size: 1.2rem;
          }

          input {
            outline: none;
            margin: 1rem 0;
          }
        }

        .dataSub {
          @include centerDiv(row);
          margin-top: 5rem;

          input {
            margin-right: 1rem;
          }

          label {
            text-decoration: dotted underline $main;

            span {
              color: $main;
            }
          }


        }
      }

      .noteData {
        @include centerDiv(column);

        .data {
          @include centerDiv(row);
          margin-bottom: 5rem;

          label {
            width: 30%;
            text-align: right;
            margin-right: 5rem;
            text-align: left;
            font-size: 1.2em;
          }

          textarea {
            width: 30%;
            padding: 1rem;
            border-radius: 5px;
            border: 3px solid $main;
            outline: none;
          }
        }
      }

      .buttons {
        @include centerDiv(row);
        margin: 5rem;

        button {
          margin: 0 2rem;
          padding: 1rem 2rem;
          border: none;
          border-radius: 5px;
          font-size: 1.2em;
          cursor: pointer;
          transition: all .5s;
          position: relative;

          &:nth-child(1) {
            background-color: $main;
            color: white;

            &:hover {
              background-color: white;
              color: $main;
            }
          }

          &:nth-child(2) {
            background-color: white;
            color: $main;

            &:hover {
              background-color: $main;
              color: white;
            }
          }


        }
      }
    }

    .images {
      @include centerDiv(column);
      padding-top: 10rem;

      h1 {
        font-size: 5em;
        text-decoration: dotted underline $main;

        span {
          color: $main;
        }
      }

      .cards {
        @include centerDiv(row);
        padding-top: 5rem;

        div {
          @include centerDiv(column);
          width: auto;
          margin: 0 3rem;

          h3 {
            width: 60%;
            text-align: center;
            margin-bottom: 1rem;

            span {
              color: $main;
            }
          }

          img {
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            margin-bottom: 1rem;
            transition: all .5s;

            &:hover {
              transform: scale(1.01);
              box-shadow: 0 0 10px 3px rgba($main, 0.5);
            }
          }
        }
      }
    }
  }

  footer {
    @include centerDiv(row);
    height: 100%;
    justify-content: space-around;
    border-top: dotted 5px $main;
    padding: 5rem;

    .tm {
      @include centerDiv(row);
      height: 15rem;
      width: 15rem;
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $accent;
        z-index: -3;
        transition: all 0.3s ease-out;
      }

      &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        left: -5%;
        top: -5%;
        background-color: $bg;
        transform: rotateZ(45deg);
        z-index: -3;
        transition: all 0.3s ease-out;
      }

      .square {
        content: "";
        position: absolute;
        width: 98%;
        height: 98%;
        left: 1%;
        top: 1%;
        background-color: $bg;
        z-index: -1;
        transition: all 0.3s ease-out;
      }

      h1 {
        text-align: center;
        transition: all 0.3s ease-out;

        span {
          transition: all 0.3s ease-out;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            border-bottom: 3px dotted $main;
            transition: all 0.3s ease-out;
            width: 0;
          }
        }
      }

      &:hover {

        .square,
        &::before {
          transform: scale(0.75) rotateZ(90deg);
        }

        &::before {
          background-color: $main;
        }

        &::after {
          transform: scale(0.7) rotateZ(135deg);
        }

        h1 {
          color: $main;

          span {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    .back {

      a {
        text-decoration: dotted underline $main;
        color: $main;
      }
    }
  }

}

@include basics();


.sep {
  margin: 5rem 0;
}

@media only screen and (max-width: 870px) {
  body {
    #tartalom {
      form {
        width: 80%;

        .title {
          h1 {
            font-size: 3.5em;
          }
        }

        .userData {
          .data {
            label {
              width: 40%;
              margin-right: 2rem;
            }

            input,
            select {
              width: 40%;
            }
          }
        }

        .delData {
          .data {
            label {
              width: 40%;
              margin-right: 2rem;
            }

            input {
              width: 40%;
            }
          }
        }

        .noteData {
          .data {
            label {
              width: 40%;
              margin-right: 2rem;
            }

            textarea {
              width: 40%;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 640px) {
  body {
    #tartalom {
      form {
        width: 90%;
        padding-left: 3rem;
        padding-right: 3rem;

        .title {
          h1 {
            font-size: 3em;
          }
        }

        .userData {
          .data {
            label {
              width: 50%;
              margin-right: 1rem;
            }

            input,
            select {
              width: 50%;
            }
          }
        }

        .delData {
          .data {
            label {
              width: 50%;
              margin-right: 1rem;
            }

            input {
              width: 50%;
            }
          }
        }

        .noteData {
          .data {
            label {
              width: 50%;
              margin-right: 1rem;
            }

            textarea {
              width: 50%;
            }
          }
        }
      }
    }

    footer {
      flex-direction: column;

      .tm {
        margin-bottom: 5rem;

      }

      .back {

        a {}
      }
    }
  }
}

@media only screen and (max-width: 505px) {
  body {
    #tartalom {
      form {
        .userData {
          .data {
            flex-direction: column;

            label {
              width: 100%;
              margin-right: 0;
            }

            input,
            select {
              width: 100%;
            }
          }
        }

        .delData {

          .data {
            flex-direction: column;

            label {
              margin-right: 0;
              text-align: center;
            }

            input {
              width: 50%;
            }

            .radios {
              @include centerDiv(row);
              margin-top: 3rem;
              flex-wrap: wrap;

              .radio {
                @include centerDiv(column);
                width: auto;
                margin: 2rem 1rem;


                label {
                  text-align: center;
                  width: 100%;
                }
              }
            }
          }
        }

        .noteData {
          .data {
            flex-direction: column;

            label {
              width: 100%;
              margin-right: 0;
              text-align: center;
              margin-bottom: 5rem;
            }

            textarea {
              width: 100%;
            }
          }
        }

        .buttons {
          flex-direction: column;
          margin: 3rem 0;

          button {
            margin: 1rem 0;
            width: 100%;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 460px) {
  body {
    header {
      margin-top: 10rem;

      &::before {
        top: 10rem;
      }

      .hero {
        h1 {
          width: 80%;
          font-size: 3em;
        }

        h5 {
          margin-top: 5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  body {
    header {
      nav {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  body {
    header {
      nav {
        justify-content: center;
        flex-wrap: wrap;

        a {
          margin: 1rem 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  body {
    header {
      .hero {
        h5 {
          width: 50%;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  body {
    header {
      .hero {
        h5 {
          width: 70%;
        }

        h1 {
          font-size: 4em;
        }
      }
    }
  }
}