@import "../uniform/uniform";
@import "../uniform//header/style";


body {
  header {
    @include header();
    background-image: none;
    height: auto;
    padding: 10rem 0;

    &::before {
      border: none;
      display: none;
    }

    nav {
      border-bottom: 1px solid $main;
      border-right: 1px solid $main;
      border-radius: 0 0 10px 0;
      width: auto;

      a {
        &:nth-child(4) {
          color: $main;

          &::before {
            background-color: transparent;
          }

          &::after {
            background-color: $main;
            width: 140%;
          }
        }

        &:nth-child(1) {
          color: white;

          &::before {
            position: absolute;
            content: "";
            width: 140%;
            height: 0;
            background-color: $main;
            margin-bottom: -5px;
            bottom: 0;
            left: -20%;
            transition: all .5s;
            border-radius: 5px 5px 0 0;
          }

          &::after {
            background-color: white;
            width: 0;
          }

          &:hover {
            &::after {
              width: 140%;
            }

            &::before {
              height: calc(100% + 10px);
              z-index: -1;
            }
          }

          &:active {
            color: $main;

            &::after {
              background-color: $main;
            }
          }
        }
      }
    }
  }

  // .headerActive {
  //   @include activeHeader();
  // }

  #tartalom {
    @include centerDiv(column);

    .tableWrapper {
      @include centerDiv(column);
      width: 70%;
      border-radius: 10px;
      height: auto;
      position: relative;


      table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;

        th,
        td {
          background-color: $bg;
          padding: 1rem;
          text-align: center;
          border: 1px solid $main;

          svg {
            width: 1.5rem;
            color: $main;
          }

          span {
            color: $main;
          }
        }

        caption {
          border: 1px solid $main;
          border-radius: 10px 10px 0 0;
          border-bottom: none;
          font-weight: bold;
          font-size: 3em;
          padding: 2rem 0;

          details {
            font-size: 40%;
            margin-top: 1rem;
          }
        }
      }
    }

    .message {
      @include centerDiv(column);
      padding-bottom: 15rem;

      form {
        @include centerDiv(column);
        border: 1px solid $main;
        border-radius: 10px;
        width: 70%;
        padding: 5rem 2rem;

        .title {
          @include centerDiv(row);
          padding-bottom: 5rem;

          h1 {
            font-size: 3em;
            text-decoration: dotted underline $main;
            text-align: center;

            span {
              color: $main;
            }
          }
        }

        .messageArea {
          @include centerDiv(column);
          width: 100%;

          textarea {
            width: 50%;
            height: 10rem;
            border-radius: 10px;
            padding: 1rem;
            margin-bottom: 5rem;
            outline: none;
            transition: all .5s ease-out;

            &:focus {
              border: 3px solid $main;
              width: 55%
            }
          }
        }

        .buttonWrapper {
          @include centerDiv(row);

          button {
            width: 40%;
            padding: 1rem;
            border: 1px solid $main;
            border-radius: 10px;
            background-color: $main;
            color: white;
            font-size: 1.2em;
            margin: 0 auto;
            cursor: pointer;
            transition: all .5s;

            &:hover {
              background-color: white;
              color: $main;
            }
          }
        }
      }
    }
  }

  footer {
    @include centerDiv(row);
    height: 100%;
    justify-content: space-around;
    border-top: dotted 5px $main;
    padding: 5rem;

    .tm {
      @include centerDiv(row);
      height: 15rem;
      width: 15rem;
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $accent;
        z-index: -3;
        transition: all 0.3s ease-out;
      }

      &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        left: -5%;
        top: -5%;
        background-color: $bg;
        transform: rotateZ(45deg);
        z-index: -3;
        transition: all 0.3s ease-out;
      }

      .square {
        content: "";
        position: absolute;
        width: 98%;
        height: 98%;
        left: 1%;
        top: 1%;
        background-color: $bg;
        z-index: -1;
        transition: all 0.3s ease-out;
      }

      h1 {
        text-align: center;
        transition: all 0.3s ease-out;

        span {
          transition: all 0.3s ease-out;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            border-bottom: 3px dotted $main;
            transition: all 0.3s ease-out;
            width: 0;
          }
        }
      }

      &:hover {

        .square,
        &::before {
          transform: scale(0.75) rotateZ(90deg);
        }

        &::before {
          background-color: $main;
        }

        &::after {
          transform: scale(0.7) rotateZ(135deg);
        }

        h1 {
          color: $main;

          span {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    .back {

      a {
        text-decoration: dotted underline $main;
        color: $main;
      }
    }
  }
}

@include basics();


.sep {
  margin: 10rem 0;
}

@media only screen and (max-width: 540px) {
  body {
    header {
      nav {
        justify-content: center;
        flex-wrap: wrap;
        border: none;

        a {
          margin: 1rem 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    #tartalom {
      .tableWrapper {
        table {
          .th {
            font-size: 2em;
          }
        }
      }

      .message {
        form {
          .title {
            h1 {
              font-size: 2em;
            }
          }

          .messageArea {
            textarea {
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    #tartalom {
      .tableWrapper {
        width: 90%;
      }

      .message {
        form {
          .buttonWrapper {
            button {
              width: 80%;
            }
          }
        }
      }
    }

    footer {
      flex-direction: column;

      .tm {
        margin-bottom: 5rem;

      }

      .back {

        a {}
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    #tartalom {
      .tableWrapper {
        table {
          tr {
            td:nth-child(1) {
              display: none;
            }
          }
        }

        &::after {
          border-radius: 0;
        }
      }

      .message {
        form {
          .messageArea {
            textarea {
              width: 100%;
            }
          }

          .buttonWrapper {
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  body {
    header {
      nav {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  body {
    header {
      nav {
        justify-content: center;
        flex-wrap: wrap;

        a {
          margin: 1rem 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  body {
    header {
      .hero {
        h5 {
          width: 50%;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  body {
    header {
      .hero {
        h5 {
          width: 70%;
        }

        h1 {
          font-size: 4em;
        }
      }
    }
  }
}