@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-image: url("../../public/celerybg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: none;
  height: auto;
  padding: 10rem 0;
}
body header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -1rem;
  border-bottom: 5px dotted #8FD476;
}
@keyframes bgAnim {
  0% {
    left: 0;
  }
  100% {
    left: 102%;
  }
}
body header .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body header .hero h1 {
  font-size: 4.5em;
}
body header .hero h1 span {
  color: #8FD476;
}
body header .hero h5 {
  width: 30%;
  text-align: center;
}
body header .hero h5 span {
  color: #8FD476;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  padding: 1.5rem 1rem;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
body header nav a {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
body header nav a::before {
  position: absolute;
  content: "";
  width: 140%;
  height: 0;
  background-color: #8FD476;
  margin-bottom: -5px;
  bottom: 0;
  left: -20%;
  transition: all 0.5s;
  border-radius: 5px 5px 0 0;
}
body header nav a::after {
  position: absolute;
  content: "";
  width: 140%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: -20%;
  margin-bottom: -5px;
  width: 0;
  transition: all 0.5s;
}
body header nav a:nth-child(1) {
  color: #8FD476;
}
body header nav a:nth-child(1)::before {
  background-color: transparent;
  width: 140%;
}
body header nav a:nth-child(1)::after {
  background-color: #8FD476;
  width: 140%;
}
body header nav a:hover {
  transform: scale(1.05);
  font-weight: normal;
}
body header nav a:hover::before {
  height: calc(100% + 10px);
  z-index: -1;
}
body header nav a:hover::after {
  width: 140%;
}
body header nav a:active {
  color: #8FD476;
}
body header nav a:active::after {
  background-color: #8FD476;
}
body header::before {
  border: none;
  display: none;
}
body header nav {
  border-bottom: 1px solid #8FD476;
  border-right: 1px solid #8FD476;
  border-radius: 0 0 10px 0;
  width: auto;
}
body header nav a:nth-child(4) {
  color: #8FD476;
}
body header nav a:nth-child(4)::before {
  background-color: transparent;
}
body header nav a:nth-child(4)::after {
  background-color: #8FD476;
  width: 140%;
}
body header nav a:nth-child(1) {
  color: white;
}
body header nav a:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 140%;
  height: 0;
  background-color: #8FD476;
  margin-bottom: -5px;
  bottom: 0;
  left: -20%;
  transition: all 0.5s;
  border-radius: 5px 5px 0 0;
}
body header nav a:nth-child(1)::after {
  background-color: white;
  width: 0;
}
body header nav a:nth-child(1):hover::after {
  width: 140%;
}
body header nav a:nth-child(1):hover::before {
  height: calc(100% + 10px);
  z-index: -1;
}
body header nav a:nth-child(1):active {
  color: #8FD476;
}
body header nav a:nth-child(1):active::after {
  background-color: #8FD476;
}
body #tartalom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body #tartalom .tableWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  width: 70%;
  border-radius: 10px;
  height: auto;
  position: relative;
}
body #tartalom .tableWrapper table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
body #tartalom .tableWrapper table th,
body #tartalom .tableWrapper table td {
  background-color: #002233;
  padding: 1rem;
  text-align: center;
  border: 1px solid #8FD476;
}
body #tartalom .tableWrapper table th svg,
body #tartalom .tableWrapper table td svg {
  width: 1.5rem;
  color: #8FD476;
}
body #tartalom .tableWrapper table th span,
body #tartalom .tableWrapper table td span {
  color: #8FD476;
}
body #tartalom .tableWrapper table caption {
  border: 1px solid #8FD476;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  font-weight: bold;
  font-size: 3em;
  padding: 2rem 0;
}
body #tartalom .tableWrapper table caption details {
  font-size: 40%;
  margin-top: 1rem;
}
body #tartalom .message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 15rem;
}
body #tartalom .message form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid #8FD476;
  border-radius: 10px;
  width: 70%;
  padding: 5rem 2rem;
}
body #tartalom .message form .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
}
body #tartalom .message form .title h1 {
  font-size: 3em;
  -webkit-text-decoration: dotted underline #8FD476;
          text-decoration: dotted underline #8FD476;
  text-align: center;
}
body #tartalom .message form .title h1 span {
  color: #8FD476;
}
body #tartalom .message form .messageArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  width: 100%;
}
body #tartalom .message form .messageArea textarea {
  width: 50%;
  height: 10rem;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 5rem;
  outline: none;
  transition: all 0.5s ease-out;
}
body #tartalom .message form .messageArea textarea:focus {
  border: 3px solid #8FD476;
  width: 55%;
}
body #tartalom .message form .buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
body #tartalom .message form .buttonWrapper button {
  width: 40%;
  padding: 1rem;
  border: 1px solid #8FD476;
  border-radius: 10px;
  background-color: #8FD476;
  color: white;
  font-size: 1.2em;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s;
}
body #tartalom .message form .buttonWrapper button:hover {
  background-color: white;
  color: #8FD476;
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  border-top: dotted 5px #8FD476;
  padding: 5rem;
}
body footer .tm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 15rem;
  width: 15rem;
  position: relative;
  text-align: center;
}
body footer .tm::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #4FBB85;
  z-index: -3;
  transition: all 0.3s ease-out;
}
body footer .tm::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  background-color: #002233;
  transform: rotateZ(45deg);
  z-index: -3;
  transition: all 0.3s ease-out;
}
body footer .tm .square {
  content: "";
  position: absolute;
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  background-color: #002233;
  z-index: -1;
  transition: all 0.3s ease-out;
}
body footer .tm h1 {
  text-align: center;
  transition: all 0.3s ease-out;
}
body footer .tm h1 span {
  transition: all 0.3s ease-out;
  position: relative;
}
body footer .tm h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  border-bottom: 3px dotted #8FD476;
  transition: all 0.3s ease-out;
  width: 0;
}
body footer .tm:hover .square, body footer .tm:hover::before {
  transform: scale(0.75) rotateZ(90deg);
}
body footer .tm:hover::before {
  background-color: #8FD476;
}
body footer .tm:hover::after {
  transform: scale(0.7) rotateZ(135deg);
}
body footer .tm:hover h1 {
  color: #8FD476;
}
body footer .tm:hover h1 span::after {
  width: 100%;
}
body footer .back a {
  -webkit-text-decoration: dotted underline #8FD476;
          text-decoration: dotted underline #8FD476;
  color: #8FD476;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
}

body {
  background-color: #002233;
  color: white;
  overflow-x: hidden;
}

@media print {
  body header {
    height: auto;
    background: none;
  }
  body header::before {
    display: none !important;
  }
  body header nav {
    display: none;
  }
  body video {
    display: none;
  }
  body p,
  body a,
  body div,
  body h1,
  body h5,
  body ul,
  body li,
  body label,
  body span,
  body button,
  body caption,
  body details,
  body summary,
  body figure,
  body svg {
    color: black !important;
    box-shadow: none !important;
    text-decoration: none !important;
    font-weight: normal !important;
  }
  body p span,
  body a span,
  body div span,
  body h1 span,
  body h5 span,
  body ul span,
  body li span,
  body label span,
  body span span,
  body button span,
  body caption span,
  body details span,
  body summary span,
  body figure span,
  body svg span {
    color: black !important;
  }
  body div {
    background-color: white !important;
    height: auto !important;
    border: none !important;
  }
  body article {
    flex-direction: column !important;
    margin: 0 !important;
    border: none !important;
  }
  body section,
  body form,
  body input,
  body textarea,
  body select,
  body table,
  body caption,
  body td,
  body th,
  body button {
    border: none !important;
    color: black !important;
  }
  body .sep {
    display: none !important;
  }
  body img {
    box-shadow: none !important;
    width: 80% !important;
  }
  body footer {
    display: none;
  }
}
.sep {
  margin: 10rem 0;
}

@media only screen and (max-width: 540px) {
  body header nav {
    justify-content: center;
    flex-wrap: wrap;
    border: none;
  }
  body header nav a {
    margin: 1rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  body #tartalom .tableWrapper table .th {
    font-size: 2em;
  }
  body #tartalom .message form .title h1 {
    font-size: 2em;
  }
  body #tartalom .message form .messageArea textarea {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  body #tartalom .tableWrapper {
    width: 90%;
  }
  body #tartalom .message form .buttonWrapper button {
    width: 80%;
  }
  body footer {
    flex-direction: column;
  }
  body footer .tm {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 480px) {
  body #tartalom .tableWrapper table tr td:nth-child(1) {
    display: none;
  }
  body #tartalom .tableWrapper::after {
    border-radius: 0;
  }
  body #tartalom .message form .messageArea textarea {
    width: 100%;
  }
  body #tartalom .message form .buttonWrapper button {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  body header nav {
    justify-content: center;
  }
}
@media only screen and (max-width: 470px) {
  body header nav {
    justify-content: center;
    flex-wrap: wrap;
  }
  body header nav a {
    margin: 1rem 2rem;
  }
}
@media only screen and (max-width: 750px) {
  body header .hero h5 {
    width: 50%;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 470px) {
  body header .hero h5 {
    width: 70%;
  }
  body header .hero h1 {
    font-size: 4em;
  }
}/*# sourceMappingURL=style.css.map */